.dropdown:hover{

	background-color: #58acc6;

}

.bienvenidaletra{

	color: #2f42cc;
}

.tipouserletra{

	color:#2f42cc;
}

.hovercerrarsesion:hover{
	background-color: #58acc6;

}


.hoverinicio:hover{
	background-color: #58acc6;

}

.col-md-12{
	color: #2f42cc;
}

